In [308]:
import pandas as pd
import numpy as np

In [309]:
df=pd.read_csv('dados_menos_outliers.csv')
df.head(5)

,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,price,minimo_noites,numero_de_reviews,ultima_review,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,Não Informado,0.00,1,365
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0

In [310]:
from pycaret.regression import *

In [311]:
modelo = df[['minimo_noites',  'disponibilidade_365','price', 'bairro_group', 'room_type']]

In [312]:
reg_model = setup(data=modelo, target= 'price',  normalize= True, normalize_method='zscore',
                   transformation=True, session_id=980)

In [313]:
melhor_modelo = compare_models(n_select=1)

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [314]:
import pickle

In [335]:
with open('modelo_machine_learning.pkl', 'wb') as file:
    pickle.dump(melhor_modelo, file)

In [316]:
amostra = pd.DataFrame({'id': [2595],
                        'nome': ['Skylit Midtown Castle'],
                        'host_id': [2845],
                        'host_name': ['Jennifer'],
                        'bairro_group': ['Manhattan'],
                        'bairro': ['Midtown'], 
                        'latitude': [40.75362], 
                        'longitude': [-73.98377],
                        'room_type': ['Entire home/apt'], 
                        'price': [225], 
                        'minimo_noites': [1],
                        'numero_de_reviews': [45], 
                        'ultima_review': ['2019-05-21'],
                        'reviews_por_mes': [0.38], 
                        'calculado_host_listings_count': [2],
                        'disponibilidade_365': [355]}
                              )

In [317]:
prediction_melhor = predict_model(melhor_modelo, data = amostra)

In [318]:
print('Preço predito $',prediction_melhor['prediction_label'].values[0].round(2))

Preço predito $ 254.63